body
{
    font-family: arial;
    margin: 0;
    padding: none;
    background-color: #3A3A3A;
}

.emscripten 
{
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
canvas.emscripten
{
    border: 0px none;
    background-color: black;
}

@-webkit-keyframes rotation
{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotation
{
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@-o-keyframes rotation
{
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(360deg);}
}

@keyframes rotation
{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

#spinner
{
    height: 30px;
    width: 30px;
    margin: 0;
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;

    -webkit-animation: rotation .8s linear infinite;
    -moz-animation: rotation .8s linear infinite;
    -o-animation: rotation .8s linear infinite;
    animation: rotation 0.8s linear infinite;

    border-left: 5px solid white;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
    border-top: 5px solid #787878;

    border-radius: 100%;
    background-color: #4D4D4D;
}


#status
{
    color: white;
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
}

#progress
{
    height: 20px;
    width: 30px;
}

#controls
{
    position: absolute;
    top: 30px;
    right: 20px;
    border: none;
}

#output
{
    width: 100%;
    height: 200px;
    margin: 0 auto;
    margin-top: 10px;
    border-left: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: none;
    background-color: black;
    color: white;
    font-family: 'Lucida Console', Monaco, monospace;
    outline: none;
}
